h1 {
  font-size: 45px
}
h2{
  font-size: 20px;
  text-align: left;
  display: inline-block;
}
.resize {
  font-size: 15px;
}
h3{
  display: inline-block;
  margin: 100px;
}
button {
  font-size: 50px;
}
div {
  width: 750px;
  border: 10px solid black;
  padding: 20px;
  margin: 20px;
}
